/* Hide scrollbar for Chrome, Safari and Opera */
.users-list::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.users-list {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.phone-bg{
    background-image: url(../images/phone-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.post-item::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: 20px  solid transparent;
    border-right: 20px  solid transparent;
    border-left: 20px  solid transparent;
    border-bottom: 20px  solid #3670a7;
    bottom: 0;
    left: -18px;
}